*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}   
body{
    font-size: 150%;
    background-color: hsl(0deg 0% 91.76%);
}
h1{
    color: hsl(252.41deg 55.77% 20.39%);
    width: 50%;
    padding-bottom: 10px;
}
.full{
    position: relative;
    left: 370px;
    top: 200px;
}
ul p{
    padding-top: 5px;
    padding-bottom: 5px;
    color: hsl(252.41deg 55.77% 20.39%);
    font-weight: 550px;
}
ul img{
    position: relative;
    top: 2px;
}
button{
    font-weight: 550;
}
button:nth-child(1){
    background-color: hsl(357.27deg 69.37% 43.53%);
    color: white;
    padding:10px 30px;
    border-radius: 8px;
    border-color:  hsl(0deg 0% 91.76%);
}
button:nth-child(1):hover{
    background-color: burlywood;
    cursor: pointer;
}
button:nth-child(2){
    background-color:  hsl(0deg 0% 91.76%);
    padding:10px 30px;
    border-radius: 8px;
    border-color:  hsl(252.63deg 17.43% 78.63%);
    color: hsl(252.41deg 55.77% 20.39%);;
}
button:nth-child(2):hover{
    background-color: gray;
    cursor: pointer;
}