button{
    height: 36px;
    background-color: brown;
    color: white;
    border-radius: 10px;
    transition: all 200ms linear;
    
}
button:hover{
    background-color: chocolate;
    cursor: pointer;
}