*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.container{
    width: 100%;
}
.head{
    background-color: greenyellow;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    color: #fff;   
    padding: 0 24;  
       
}
.main{
    background-color: gray;
}
.foot{
    background-color: green;
}
.head .right{
    display: flex;
    flex-direction: row;
}
.head .right a{

}