*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.box{
    height: 200px;
    width: 200px;
    background-color: brown;
    color: white;
    text-align: center;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
